columnSuffix: null
handle: theSectionId
instructions: 'Used for navigating directly to section, as in "/page-slug#section-id". Do NOT include the "#" character and use no spaces.'
name: 'Section ID'
searchable: false
settings:
  byteLimit: null
  charLimit: null
  code: true
  initialRows: 4
  multiline: false
  placeholder: null
  uiMode: normal
translationKeyFormat: null
translationMethod: none
type: craft\fields\PlainText
