<section
  class="{{classes}}"
  data-nav-theme="beige"
  {% if section.theSectionId is not empty %}id="{{section.theSectionId}}"{% endif %}
>
  <div
    class="PostSection-container text-center"
  >
    <div class="px-32 text-sans-32 sm:text-sans-48 sm:leading-[1.15]">
      {{section.quote|raw}}
    </div>
  </div>
</section>