{# Prepared related posts #}
{% set directlyRelatedPosts = entry.relatedPosts %}
{% set otherRelatedPostsCount = 3 - directlyRelatedPosts|length %}
{% set categories = entry.postCategories %}
{% set notIds = ['not'] %}
{% set notIds = notIds|merge(directlyRelatedPosts.ids()) %}
{% set notIds = notIds|push(entry.id) %}
{% set otherRelatedPosts = craft.entries()
                                .section('post')
                                .relatedTo(categories)
                                .id(notIds)
                                .limit(otherRelatedPostsCount) %}
{% set relatedCount = directlyRelatedPosts|length + otherRelatedPosts|length %}
{% set otherCount = max(3 - relatedCount, 0) %}
{% set otherNotIds = notIds|merge(otherRelatedPosts.ids()) %}
{% set otherPosts = craft.entries()
                         .section('post')
                         .id(otherNotIds)
                         .limit(otherCount) %}

{# Get related posts #}
{% set posts = directlyRelatedPosts|merge(otherRelatedPosts.all()|merge(otherPosts.all())) %}

<section
  class="PostSection PostSection--relatedPosts"
  id="related-posts"
>
  <div
    class="PostSection-container"
  >
    <div class="">
      <h2 class="">Related Resources</h2>
    </div>

    <div
      class=""
    >
      {% for post in posts %}
        {% include "shared/_postPreview.twig" with {
          post: post
        } only %}
      {% endfor %}
    </div>
  </div>
</section>
