<div class="PinContainer PinContainer--animationSlides">
  <section
    {% if section.theSectionId is not empty %}
      id="{{section.theSectionId}}"
    {% endif %}
    class="{{classes}} h-screen relative overflow-hidden w-full"
    data-init-section="AnimationSlides"
  >
    <div
      class="PageSection-container h-full
             px-[20px] py-[30px]
             md:px-[60px] md:py-[40px]
             lg:px-[100px] lg:py-[100px]"
    >
      <div
        class="lg:grid lg:grid-cols-2 gap-x-[40px] h-full relative"
      >
        <div
          class="h-full w-full relative z-20"
        >
          {% for slide in section.animationSlides %}
            {% include 'shared/_animationSlide.twig' with {
              slide: slide,
              index: loop.index
            } %}
          {% endfor %}
        </div>

        <div
          data-animation
          class="z-10 absolute flex items-center justify-center
                 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
                 aspect-[0.9/1] h-auto w-full max-w-[70%]
                 lg:static lg:w-full lg:h-full lg:max-w-none
                 lg:relative lg:top-0 lg:left-0
                 lg:translate-x-0 lg:translate-y-0"
        >
          {# <span class="h2 text-tan"></span> #}
          <canvas data-lottie
            class="w-full aspect-[6/7]"
          ></canvas>
        </div>

      </div>
    </div>
  </section>
</div>

