<section
  class="{{classes}} bg-black relative h-screen
         flex flex-col justify-center items-center"
  {% if section.theSectionId is not empty %}
    id="{{section.theSectionId}}"
  {% endif %}
  data-init-section="Reveal"
>
  {% include 'shared/_backgroundMedia.twig' with {
    image: section.mediaItem.one.image
  } %}

  <div
    class="PageSection-container w-full grow flex flex-col
           relative justify-between items-start gap-[100px]"
  >
    <div class="text-white flex flex-col gap-[10px]" data-reveal-item>
      {% for item in section.list %}
        <div
          class="h3"
        >
            {{item.text}}
        </div>
      {% endfor %}
    </div>

    <div class="flex flex-col gap-[60px]" data-reveal-item>

      <div data-conclusion-item>
        <div class="h3 text-white">
          {{section.title|raw}}
        </div>
      </div>

      <div data-conclusion-item>
        {% include 'shared/_links.twig' with {
          links: section.links,
          linkClasses: 'Button Button--large Button--white'
        } %}
      </div>
    </div>
  </div>
</section>