<section
  class="{{classes}} h-screen relative"
  data-init-section="Reveal"
>
  <div
    class="PageSection-container h-full flex flex-col items-center justify-center"
  >
    <div
      class="relative text-white flex flex-col max-w-[1000px]
            gap-y-[30px] md:gap-y-[60px] justify-center items-center text-center z-10"
    >
      <h1
        class="xl"
        data-reveal-item
      >{{section.title}}</h1>

      <div
        class="h3 max-w-[600px]"
        data-reveal-item
      >
        {{section.body}}
      </div>

      <div
        class="flex flex-col gap-y-[30px] md:gap-y-[60px]"
        data-reveal-item
      >
        {% include 'shared/_links.twig' with {
          links: section.links,
          linkClasses: 'Button Button--large Button--white Button--hoverSolid'
        } %}
      </div>
    </div>

    {% include 'shared/_backgroundMedia.twig' with {
      image: section.mediaItem.one.image
    } %}
  </div>
</section>