<section
  class="{{classes}}"
  {% if section.theSectionId is not empty %}
    id="{{section.theSectionId}}"
  {% endif %}
  data-init-section="PostPreviews,Reveal"
>
  <div class="PageSection-container">
    <div
      class="flex flex-col justify-between items-center gap-[30px] mb-[60px]
             lg:flex-row lg:mb-[100px]"
      data-reveal-item
    >
      <h2
        class="h1"
      >
        {{section.title|raw}}
      </h2>

      <div class="flex flex-row gap-[30px]">
        <a href="#" class="Button Button--tan">
          Subscribe
          {% include "svg/_plus.svg.twig" %}
        </a>

        <div class="flex flex-row justify-center
                    items-center gap-[14px] border
                    border-gray-500 rounded-full px-[10px] py-[5px]"
        >
          <a
            href="#"
            data-prev
            class="size-[20px] flex items-center
                   justify-center [&.swiper-button-disabled]:opacity-20"
          >
            {% include "svg/_caretLeft.svg.twig" %}
          </a>
          <a
            href="#"
            data-next
            class="size-[20px] flex items-center
                   justify-center [&.swiper-button-disabled]:opacity-20"
          >
            {% include "svg/_caretRight.svg.twig" %}
          </a>
        </div>
      </div>
    </div>

    <div
      class="swiper flex flex-col justify-between gap-[60px]
             md:gap-[10px] md:flex-row md:items-stretch md:justify-between
             lg:flex-row lg:items-stretch lg:justify-between lg:gap-[10px]"
      data-reveal-item
    >
      <div class="swiper-wrapper">
        {% for post in section.posts %}
          <div class="swiper-slide">
            {% include "shared/_postPreview.twig" with {
              post: post
            } %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>