{% set urlCategory = craft.app.request.getQueryParam('category') %}
{% set pageNum = craft.app.request.getPageNum() %}

{% set perPage = 20 %}
{% set featuredPost = null %}

{% if urlCategory == 'all' %}
  {% set urlCategory = '' %}
{% endif %}

{% if urlCategory %}
  {% set category = craft.categories.group('postCategories').slug(urlCategory).one() %}
  {% set query = craft.entries().section('post').relatedTo(category).limit(perPage) %}
{% else %}
  {% if pageNum == 1 %}
    {% set featuredPost = section.featuredPost.one %}
  {% endif %}
  {% set notIds = null %}
  {% if featuredPost %}
    {% set notIds = ['not'] %}
    {% set notIds = notIds|push(featuredPost.id) %}
  {% endif %}
  {% set query = craft.entries().section('post').id(notIds).limit(perPage) %}
{% endif %}

{% set categories = craft.categories.group('postCategories') %}

{% paginate query as pageInfo, posts %}

<section
  {% if section.theSectionId is not empty %}id="{{section.theSectionId}}"{% endif %}
  data-init-section="PostIndex"
  class="{{classes}}"
>
  <div
    class="PageSection-container max-w-[1200px] mx-auto"
  >
    <h1 class="text-center mb-[80px]">
      {{section.title|raw}}
    </h1>

    {% include "shared/_postFilters.twig" %}

    {% include "shared/_posts.twig" %}

    {% include "shared/_postsPagination.twig" %}

  </div>
</section>