{% set variant = '' %}

{% if entry is defined and
      entry.pageSections is defined and
      entry.pageSections|length > 0 and
      entry.pageSections[0].type == 'hero' %}
  {% set variant = 'Header--white' %}
{% endif %}

<header
  class="Header Header--fixed {{variant}}"
  data-init-section="Reveal"
>
  <div class="Header-backdrop" data-header-backdrop></div>
  <div class="Header-container" data-reveal-item>
    <a href="/" class="Header-logo">
      {% include 'svg/_logo.svg.twig' %}
    </a>

    {% include 'shared/_links' with {
      links: header.links,
      wrapperClasses: 'Header-links',
    } %}

    <div class="Header-actions">
      {% include 'shared/_links' with {
        links: header.callToAction,
        linkClasses: 'Button'
      } %}
    </div>

    {% include 'shared/_hamburger.twig' %}
  </div>

  <div class="Header-mobileNav" data-mobile-nav>
    {# Dummy for layout #}
    <div></div>

    {% include 'shared/_links' with {
      links: header.links,
      wrapperClasses: 'Header-mobileLinks',
      linkClasses: 'h2',
    } %}

    {% include 'shared/_links' with {
      links: header.secondaryLinks,
      wrapperClasses: 'Header-secondaryLinks',
      linkClasses: 'no-underline',
    } %}
  </div>
</header>
