{% block metaTitle %}404 - Page Not Found{% endblock %}
{% set layout = "layouts/_layout" %}
{% extends layout %}

{% block content %}  
  <div class="PageSections">
    <section class="min-h-[400px] sm:min-h-[600px] flex flex-col justify-center">
      <div class="">
        <h1 class="text-center mb-40">Page not found</h1>
        <div class="text-center">
          <a href="/">Go to home page</a>
        </div>
      </div>
    </section>
  </div>
{% endblock %}


