<div class="SubAccordion Accordion" data-accordion>
  {% for subAccordionItem in accordionItem.subAccordionItems %}
    <div class="AccordionItem" data-accordion-item>
      <div
        class="flex flex-row items-center justify-between
               gap-[10px] md:gap-[20px]"
        data-accordion-toggle
      >
        <h3 class="h2">{{subAccordionItem.title}}</h3>
        <div data-accordion-icons>
          <span data-accordion-closed-icon class="Button Button--iconOnly">
            {% include "svg/_plusThick.svg.twig" %}
          </span>
          <span data-accordion-open-icon class="Button Button--iconOnly">
            {% include "svg/_minusThick.svg.twig" %}
          </span>
        </div>
      </div>
      <div class="flex flex-col gap-[40px]" data-accordion-body>
        <div class="h3 mt-[40px] max-w-[900px]">
          {{subAccordionItem.body|raw}}
        </div>

        {% if subAccordionItem.links|length > 0 %}
          {% include "shared/_links.twig" with {
            links: subAccordionItem.links,
            linkClasses: 'Button'
          } only %}
        {% endif %}

      </div>
    </div>
  {% endfor %}
</div>