<form action="#" class="Form mt-[40px]">
  <div class="Form-column">
    <div class="Form-row">
      <input type="text" id="name" name="name" placeholder="Enter Your First Name">
      <label for="name">First Name</label>
    </div>
    <div class="Form-row">
      <input type="text" id="name" name="name" placeholder="Enter Your Last Name">
      <label for="name">Last Name</label>
    </div>
    <div class="Form-row">
      <input type="text" id="name" name="name" placeholder="work@email.com">
      <label for="name">Work Email</label>
    </div>
  </div>
  <div class="Form-column">
    <div class="Form-row">
      <div class="Select">
        <select name="type" id="type">
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
          <option value="4">Option 4</option>
          <option value="5">Option 5</option>
        </select>
        <span class="Select-icon">
          {% include "svg/_caretDown.svg.twig" %}
        </span>
      </div>
    </div>
    <div class="Form-row">
      <textarea name="message" id="message" placeholder="Your Message"></textarea>
    </div>
    <div class="Form-row">
      <div class="">
        <button type="submit" class="Button">Submit</button>
      </div>
    </div>
  </div>
</form>