{% set defaultVersionSizes = [320, 360, 412, 600, 768, 1024, 1280, 1440, 1600, 1920, 2560, 3000] %}
{% set defaultCrop = {
  mode: 'fit',
  width: 2000,
  height: 2000,
  quality: 75,
  position: 'center-center',
  format: 'webp'
} %}

{% set wrapperClasses = wrapperClasses|default('absolute top-0 left-0 w-full h-full object-cover') %}
{% set imageClasses = imageClasses|default('absolute top-0 left-0 w-full h-full object-cover') %}
{% set versionSizes = versionSizes|default(defaultVersionSizes) %}
{% set sizes = sizes|default('100vw') %}
{% set crop = crop|default(defaultCrop) %}
{% set imageStyle = imageStyle|default('') %}
{% set backgroundScreenOpacity = backgroundScreenOpacity|default(0) %}

{% if image is not empty %}
  {% set image = image.one %}

  {% if image.hasFocalPoint %}
    {% set x = image.focalPoint|first * 100 ~ '%' %}
    {% set y = image.focalPoint|last * 100 ~ '%' %}
    {% set imageStyle = imageStyle ~ ' object-position: ' ~ [x, y]|join(' ') ~ ';' %}
  {% endif %}

  {% set sourceAttributes = {
    type: 'image/webp',
    srcset: image.getSrcset(versionSizes, { format: 'webp', quality: 80 }),
    sizes: sizes
  } %}

  {% set imageAttributes = {
    class: imageClasses,
    style: imageStyle,
    src: image.getUrl(crop),
    alt: image.alt|default(image.title),
    loading: 'lazy'
  } %}
{% endif %}

<div
  class="{{wrapperClasses}}"
>
  {% if image %}
    <picture>
      <source {{ attr(sourceAttributes) }} />
      <img {{ attr(imageAttributes) }} />
    </picture>
  {% endif %}

  {% if backgroundScreenOpacity > 0 %}
    <div
      class="bg-black absolute w-full h-full top-0 left-0"
      style="opacity: {{backgroundScreenOpacity / 100}};"
    >
    </div>
  {% endif %}
</div>