{% set wrapperClasses = wrapperClasses|default('') %}
{% set linkClasses = linkClasses|default('') %}

{% if links|length > 0 %}
  <div
    {% if wrapperClasses is not empty %}class="{{wrapperClasses}}"{% endif %}
  >
    {% for link in links %}
      {% include "shared/_link.twig" with {
        link: link,
        classes: linkClasses
      } only %}
    {% endfor %}
  </div>
{% endif %}