{% set classes = class|default('') %}
{% set buttonClasses = buttonClass|default('') %}
{% set leftDisabled = leftDisabled|default(false) %}
{% set rightDisabled = rightDisabled|default(false) %}

<div class="flex flex-row gap-x-8 {{classes}}">  
  {% include 'shared/_pagination-arrow.twig' with {
    direction: 'left',
    disabled: leftDisabled,
    class: 'PaginationArrow--prev ' ~ buttonClasses
  } only %}

  {% include 'shared/_pagination-arrow.twig' with {
    direction: 'right',
    disabled: rightDisabled,
    class: 'PaginationArrow--next ' ~ buttonClasses
  } only %}
</div>