<a
  href="{{post.url}}"
  class="no-underline flex flex-col gap-[20px] text-center md:text-left"
>
  <div
    class=""
  >
    <div>
      {% include "shared/_mediaItem.twig" with {
        mediaItem: {
          image: post.image,
        },
        itemClasses: 'aspect-[1/1.15]',
        imageClasses: 'h-full w-full block object-cover rounded-[16px]'
      } only %}
    </div>
  </div>

  <div class="h5 text-gray-300">
    {{post.postDate|date('M j, Y')}}
  </div>

  <h3 class="font-display text-mobile-h1 max-w-[380px] mx-auto
             md:text-tablet-h3 md:mb-[30px] md:pr-[20px] md:mx-0
             lg:text-h3">
    {{post.title}}
  </h3>

  <div>
    <span class="Button Button--tan">
      Read More
      {% include "svg/_rightArrow.svg.twig" %}
    </span>
  </div>
</a>