@layer components {
  .RichText {
    @apply text-left;

    .RichText-header {
      @apply mb-[30px];
    }

    .RichText-body {
      @apply flex flex-col gap-[30px];

      img {
        @apply rounded;
      }
    }
  }
}