/* Helvetica Now Text */
@font-face {
  font-family: 'HelveticaNowText';
  src: url('/fonts/HelveticaNow/Text/HelveticaNowText-Regular.woff2') format('woff2'),
       url('/fonts/HelveticaNow/Text/HelveticaNowText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/fonts/HelveticaNow/Text/HelveticaNowText-Medium.woff2') format('woff2'),
       url('/fonts/HelveticaNow/Text/HelveticaNowText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowText';
  src: url('/fonts/HelveticaNow/Text/HelveticaNowText-Bold.woff2') format('woff2'),
       url('/fonts/HelveticaNow/Text/HelveticaNowText-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Helvetica Now Display */
@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNow/Display/HelveticaNowDisplay-Regular.woff2') format('woff2'),
       url('/fonts/HelveticaNow/Display/HelveticaNowDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNow/Display/HelveticaNowDisplay-Medium.woff2') format('woff2'),
       url('/fonts/HelveticaNow/Display/HelveticaNowDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/fonts/HelveticaNow/Display/HelveticaNowDisplay-Bold.woff2') format('woff2'),
       url('/fonts/HelveticaNow/Display/HelveticaNowDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
