@layer base {
  html,
  body {
    @apply font-sans text-mobile-base md:text-base;
    height: 100%;
    color: var(--color-gray-500);
  }

  html {
    @apply box-border antialiased;
  }

  ol {
    @apply list-decimal list-inside;
  }

  ul {
    @apply list-disc list-inside;
  }

  a {
    @apply underline;
  }

}
